@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    width: 100vw;
}

.background section {
    width: 4vmin;
    height: 4vmin;
    border-radius: 4vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 50;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background section:nth-child(0) {
    color: #FFACAC;
    top: 58%;
    left: 54%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -11vw -18vh;
    box-shadow: 8vmin 0 1.1774261556563843vmin currentColor;
}
.background section:nth-child(1) {
    color: #583C87;
    top: 27%;
    left: 9%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 23vw -4vh;
    box-shadow: -8vmin 0 1.3874130239870555vmin currentColor;
}
.background section:nth-child(2) {
    color: #FFACAC;
    top: 7%;
    left: 86%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 11vw -15vh;
    box-shadow: 8vmin 0 1.3254029564196788vmin currentColor;
}
.background section:nth-child(3) {
    color: #583C87;
    top: 56%;
    left: 92%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 14vw 22vh;
    box-shadow: -8vmin 0 1.8682980475246054vmin currentColor;
}
.background section:nth-child(4) {
    color: #583C87;
    top: 75%;
    left: 95%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 0vw 21vh;
    box-shadow: -8vmin 0 1.978914789132418vmin currentColor;
}
.background section:nth-child(5) {
    color: #FFACAC;
    top: 69%;
    left: 73%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -1vw 9vh;
    box-shadow: 8vmin 0 1.705880093727235vmin currentColor;
}
.background section:nth-child(6) {
    color: #FFACAC;
    top: 50%;
    left: 98%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -1vw -1vh;
    box-shadow: -8vmin 0 1.4898030145483983vmin currentColor;
}
.background section:nth-child(7) {
    color: #E45A84;
    top: 21%;
    left: 2%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -9vw -19vh;
    box-shadow: -8vmin 0 1.7282420314594442vmin currentColor;
}
.background section:nth-child(8) {
    color: #FFACAC;
    top: 81%;
    left: 49%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -8vw 9vh;
    box-shadow: -8vmin 0 1.6600557961959463vmin currentColor;
}
.background section:nth-child(9) {
    color: #583C87;
    top: 29%;
    left: 70%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -13vw -16vh;
    box-shadow: 8vmin 0 1.1839511661985551vmin currentColor;
}
.background section:nth-child(10) {
    color: #E45A84;
    top: 60%;
    left: 79%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 20vw -9vh;
    box-shadow: 8vmin 0 1.7691773689509889vmin currentColor;
}
.background section:nth-child(11) {
    color: #FFACAC;
    top: 22%;
    left: 8%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 15vw 4vh;
    box-shadow: 8vmin 0 1.1018635346218284vmin currentColor;
}
.background section:nth-child(12) {
    color: #E45A84;
    top: 11%;
    left: 67%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 20vw 17vh;
    box-shadow: -8vmin 0 1.896724441954088vmin currentColor;
}
.background section:nth-child(13) {
    color: #E45A84;
    top: 90%;
    left: 65%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -8vw 11vh;
    box-shadow: 8vmin 0 1.3800038707728066vmin currentColor;
}
.background section:nth-child(14) {
    color: #FFACAC;
    top: 85%;
    left: 25%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -8vw 11vh;
    box-shadow: 8vmin 0 1.3800038707728066vmin currentColor;
}
.background section:nth-child(15) {
    color: #583C87;
    top: 20%;
    left: 15%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -8vw 11vh;
    box-shadow: 8vmin 0 1.3800038707728066vmin currentColor;
}
.background section:nth-child(16) {
    color: #583C87;
    top: 45%;
    left: 45%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -8vw 11vh;
    box-shadow: 8vmin 0 1.3800038707728066vmin currentColor;
}